<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.title }}</title>
</head>
<body>
    <h1>{{ object.title }}</h1>
    <p>Artist: {{ object.artist }}</p>
    <p>Genre: {{ object.genre }}</p>
    <audio controls>
        <source src="{{ object.file.url }}" type="audio/mp3">
        
    </audio>
    <a href="{% url 'song-update' object.pk %}">Update</a>
</body>
</html>